# python virtual environment
.venv/

# documentation build directory
_build/

# jupyter notebook folders/files
*.ipynb
.ipynb_checkpoints/
debug.log


# any compiled scripts/modules
__pycache__/