# python virtual environment
.venv/

# build intermediate dir
book/_build/

# jupyter notebook folders/files
*.ipynb
.ipynb_checkpoints/
debug.log


# any compiled scripts/modules
__pycache__/