black==21.12b0
click==7.1.2
jupyter-book==0.12.1
matplotlib==3.5.1
more-itertools==8.13.0
networkx==2.6.3
pydantic==1.9.0
rich==11.0.0
scipy==1.7.3
xarray==0.20.2
sphinxcontrib_mermaid==0.7.1